{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Welcome{% endblock %}

{% block page_content %}


    <!-- content start -->

    <div class="page-header">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<p>
    It is a python web tool based on the OCR engine - libtesseract
  </p>
  <ul>
  
    <li><a href="https://github.com/tesseract-ocr/tesseract">tesseract library</a>
    </li>
  
  </ul>


</div> <!-- content end -->

{% endblock %}