{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Welcome{% endblock %}

{% block page_content %}

<!-- content start -->
<div class="page-header">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <h2>Web Ocr Toolkit</h2>
    <div>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="/tool"> try it </a>
    </p>
    </div>




</div> <!-- content end -->

{% endblock %}